<!DOCTYPE html>
<html>

<head>


    <style type="text/css">
   
        * {
            color: black;
        }
        
        div {
            font-family: system-ui;
        }
        .outer-container {
            width: 375px;
            
        }

    .main-container {
        background: url('https://leevstore.blob.core.windows.net/images/mailbackground.jpg');
        border-radius: 20px;
        padding: 10px;
       }

        .container {
            height: fit-content;
            padding: 20px;
            border-radius: 20px;
            background: rgba(255,255,255,0.4);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
        }

       .image-container {
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: center;
            margin: 10px auto 30px;
            padding: 20px 0 0;
            
        }

        .image {
            width: 200px; 
            height: 200px; 
            margin: 0 auto;
        }

        .address-container {
            width: fit-content;
            height: 40px;
            display: grid;
            place-items: center;
            border: 1px solid rgba(0,0,0,0.2);
            font-size: 20px;
            padding: 0px 20px 5px;
            border-radius: 50px;
            margin: 15px auto;
        }

        .fault-success {
            margin: 10px auto;
            padding: 20px 0 0;
            text-align: center;
            line-height: 2;
            font-size: 18px;
            border-top: 1px solid rgba(0,0,0,0.2);
            background: rgba(255,255,255,0.4)
        }

        .fault-intsructions {
            margin: 10px auto;
            text-align: center;
            line-height: 2;
            font-size: 16px
        }

        .item-link {
            margin: 15px auto 30px;
            text-align: center;
            padding: 9px 30px;
            border-radius: 50px;
            width: fit-content;
            border: 1px solid rgba(0,0,0,0.2);
            background: rgba(255,255,255,0.4)
        }

        .item-id {
            font-size: 18px;
        }

        .title {
            font-size: 14px;
        }

        .avatar-container {
            width: fit-content;
            margin: 10px auto;
        }

        .avatar {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
        }

        .text-static {
            text-align: center;
            padding: 10px 20px;
            font-size: 16px;
            background: rgba(255,255,255,0.4);
            border-radius: 50px;
            margin-top: 10px;
            border: 1px solid rgba(0,0,0,0.2);
        }

        .status-name {
            width: fit-content;
            padding: 7px 30px;
            border-radius: 50px;
            font-size: 20px;
            margin: 10px auto;
            border: 1px solid rgba(0,0,0,0.2);
            background: rgba(255,255,255,0.4)
        }

        .data-container {
            padding: 20px 0;
        }

        .add-info {
            padding: 10px;
            margin: 0px auto;
        }

       .add-container {
            margin: 8px auto;
            text-align: center;
            background: rgba(255,255,255,0.4);
            padding: 7px 0;
            border-radius: 50px;
            font-size: 16px;
            width: auto;
            font-weight: 500;
        }

        .details-container {
            padding: 15px 30px;
            margin: 10px 0 0;
            border-top: 1px solid rgba(0,0,0,0.2);
            background: rgba(255,255,255,0.4);
            width: auto;
            border-radius: 10px;
            border: 1px solid rgba(0,0,0,0.2);
        }

        .detail-container {
            padding: 10px 0;
        }

        .detail-label {
            width: 100%;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            
        }
        .detail-desc {
            width: 100%;
            font-size: 14px;
            text-align: center;
        }


    </style>
</head>

<body class='outer-container'>
    <div class='main-container'>
        <div class='image-container'>
            <img src='https://leevstore.blob.core.windows.net/images/leev_logo_round.png'
                class='image' />
        </div>
        <div class='container'>
            
            <div class='data-container'>
                <div class='avatar-container'>
                    <img src={{ avatar }} class='avatar' />
                </div>
                <div class='text-static'>
                    {{ itemCreatedSuccessfulyText }}
                </div>
                <div class='text-static'>
                    {{ itemCreatedSuccessfulyInstructions }}
                </div>
                <div class='item-link'>
                    <div class='item-id'>
                        <a href={{ itemLink }} >
                            {{ itemId }}
                        </a>
                    </div> 
                </div>
            </div>
            <div class='details-container'>
                {{#if assetData}}
                <div class='detail-container'>
                    <div class='detail-label'>
                        {{ assetLabel }}
                    </div>
                    <div class='detail-desc'>
                        {{ assetData }}
                    </div>
                </div>
                {{/if}}
                {{#if system}}
                <div class='detail-container'>
                    <div class='detail-label'>
                        {{ systemLabel }}
                    </div>
                    <div class='detail-desc'>
                        {{ systemData }}
                    </div>
                </div>
                {{/if}}
                <div class='detail-container'>
                    <div class='detail-label'>
                        {{ titleLabel }}
                    </div>
                    <div class='detail-desc'>
                        {{ titleData }}
                    </div>
                </div>
                <div class='detail-container'>
                    <div class='detail-label'>
                        {{ descriptionLabel }}
                    </div>
                    <div class='detail-desc'>
                        {{ descriptionData }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>