<!DOCTYPE html>
<html>

<head>


    <style type="text/css">
   
         * {
            color: black;
        }
        
        div {
            font-family: system-ui;
        }

        .outer-container {
            width: 375px;
            
        }

       .main-container {
        background: url('https://leevstore.blob.core.windows.net/images/mailbackground.jpg');
        border-radius: 20px;
        padding: 10px;
       }

        .image-container {
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: center;
            margin: 10px auto 30px;
            padding: 20px 0 0;
            
        }

        .image {
            width: 200px; 
            height: 200px; 
            margin: 0 auto;
        }

        .container {
            height: fit-content;
            padding: 20px;
            border-radius: 20px;
            background: rgba(255,255,255,0.2);
            -webkit-backdrop-filter: blur(10px);
        }

        .address-container {
            width: fit-content;
            height: 40px;
            display: grid;
            place-items: center;
            border: 1px solid rgba(0,0,0,0.2);
            font-size: 16px;
            padding: 0px 20px 5px;
            border-radius: 50px;
            margin: 15px auto;
        }

        .item-link {
            margin: 15px auto 30px;
            text-align: center;
            padding: 9px 30px;
            border-radius: 50px;
            width: fit-content;
            box-shadow: 
                rgba(0,0,0,0.4) 1px 1px 1px 0px,
                rgba(255,255,255,0.2) -1px -1px 1px 0px;
            background: rgba(255,255,255,0.4)
        }

        .item-id {
            font-size: 18px;
        }

        .title {
            font-size: 14px;
        }

        .avatar-container {
            width: fit-content;
            margin: 10px auto;
            
        }

        .avatar {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 50%;
        }

        .text-static {
            text-align: center;
            padding: 10px 20px;
            font-size: 16px;
            background: rgba(255,255,255,0.4);
            border-radius: 50px;
            margin: 20px auto;

        }

        .status-name {
            width: fit-content;
            padding: 7px 30px;
            border-radius: 50px;
            font-size: 20px;
            margin: 0px auto 10px;
            border: 1px solid rgba(0,0,0,0.2);
        }

        .data-container {
            padding: 20px 0;
            border: solid rgba(0,0,0,0.2);
            border-width: 1px 0;
        }

        .add-info {
            padding: 10px;
            margin: 0px auto;
        }

        .add-container {
            margin: 8px auto;
            text-align: center;
            background: rgba(255,255,255,0.4);
            padding: 7px 0;
            border-radius: 50px;
            font-size: 16px;
            width: auto;
            font-weight: 500;
        }

        .owner-avatar {
            height: 100px;
        }

        .owner-container {
            display: flex;
           
            border-radius: 100px;
            padding: 8px 30px 8px 8px;
            margin: 5px auto 10px;
            width: fit-content;
            box-shadow: 
                rgba(0,0,0,0.2) 1px 1px 1px 0px,
                rgba(255,255,255,0.2) -1px -1px 1px 0px;
            background: rgba(255,255,255,0.4)
        }

        img.owner_image {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
        }

        .owner-details {
            padding: 20px 15px;
        }

        .owner-name {
            font-size: 22px;
            font-weight: 500;
        }

        .owner-role {
            font-size: 16px;
        }

    </style>
</head>

<body class='outer-container'>
    <div class='main-container'>
        <div class='image-container'>
            <img src='https://leevstore.blob.core.windows.net/images/leev_logo_round.png'
                class='image' />
        </div>
        <div class='container'>
            <div class='item-link'>
                <div class='item-id'>
                    <a href={{ itemLink }} >
                        {{ itemId }}
                    </a>
                </div>
                <div class='title'>
                {{ title }}
                </div>
            </div>
            <div class='data-container'>
                <div class='avatar-container'>
                    <img src={{ avatar }} class='avatar' />
                </div>
                <div class='text-static'>
                    {{ ownerText }}
                </div>
                <div class='owner-container'>
                    <div class='owner-avatar'>
                        <img src={{ ownerAvatar }} class='owner_image' />
                    </div>
                    <div class='owner-details'>
                        <div class='owner-name'>
                            {{ ownerName }}
                        </div>
                        <div class='owner-role'>
                            {{ ownerRole}}
                        </div>
                    </div>
                </div>
            </div>
            <div class='add-info'>
                {{#if address}}
                <div class='add-container'>
                    {{ address }}
                </div>
                {{/if}}
                {{#if system}}
                <div class='add-container'>
                    {{ system }}
                </div>
                {{/if}}
            </div>
        </div>
     </div>
</body>

</html>