<!DOCTYPE html>
<html>

<head>


    <style type="text/css">
        .outer-container {
           
        }

        .image-container {
            width: 100%;
            background: #42A5F5;
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
        }

        .image {
            height: 250px;
            width: 250px;
            margin: 0 auto;
        }

        div {
            font-family: system-ui;
        }

        .asset {
            margin: 0 auto 20px;
            width: fit-content;
            text-align: center;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 50px;
            padding: 5px 20px;
        }
        
        .report-instructions {
            font-weight: 500;
            margin: 5px auto;
            width: fit-content;
            text-align: center;
        }

        .click-instructions {
            font-size: 12px;
            margin: 0 auto;
            width: fit-content;
            text-align: center;
        }

        .report-link {
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 10px;
            padding: 10px 30px;
            width: fit-content;
            margin: 20px auto 40px;
            font-size: 12px;
            font-weight: 500;
        }

        .bottom {
            background: #42A5F5;
            height: 250px;
            width: 100%;
        }
    </style>
</head>

<body class='outer-container'>
    <div class='image-container'>
        <img src='https://leevstore.blob.core.windows.net/images/leev_logo_transparent.png' class='image' />
    </div>
    <div class='asset'>
        {{ asset }}
    </div>
    <div class='report-instructions'>
        {{ companyName }} {{ text1 }} {{ reportName }}
    </div>
    <div class='click-instructions'>
        {{ text2 }}
    </div>
    <div class='report-link'>
        <a href={{ link }}>{{ reportName }}</a>
    </div>
    <div class='bottom'>

    </div>

</body>

</html>