<!DOCTYPE html>
<html>

<head>
    <style>
        
        * {
            color: white;
        }
        
        div {
            font-family: system-ui;
            color: white
        }

        .container {
            width: 375px;
            height: fit-content;
            padding: 20px;
            background: #42A5F5;
            border-radius: 10px;

        }

        .image-container {
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: center;
            
        }

        .address-container {
            width: fit-content;
            height: 40px;
            display: grid;
            place-items: center;
            color: white;
            font-size: 20px;
            background: rgba(0, 0, 0, 0.3);
            padding: 0px 20px;
            border-radius: 50px;
            margin: 0 auto 15px;
            line-height: 2.4;
        }

        .fault-success {
            margin: '10px auto';
            text-align: center;
            line-height: 2;
            font-size: 18px
        }

        .fault-intsructions {
            margin: 10px auto;
            text-align: center;
            line-height: 2;
            font-size: 16px
        }

        .fault-link {
            margin: 15px auto 30px;
            text-align: center;
            line-height: 2.3;
            background: black;
            padding: 3px 30px;
            border-radius: 50px;
            color: white;
            width: fit-content;
            font-size: 18px;
        }

        .details-container {
            background: rgba(0, 0, 0, 0.3);
            padding: 15px 30px;
            border-radius: 10px;
            margin: 0 auto 10px;
        }

        .detail-container {
            padding: 10px 0;
        }

        .detail-label {
            width: 100%;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            
        }
        .detail-desc {
            width: 100%;
            font-size: 14px;
            text-align: center;
        }

    </style>
</head>

<body class='outer-container'>
    <div class='container'>
        <div class='image-container'>
            <img src='https://leevstore.blob.core.windows.net/images/leev_logo.png'
                style='width: 200px; height: 200px; margin: 0 auto;' />
        </div>
        <div class='address-container'>
            {{ address }}
        </div>
        <div class='fault-success'>
            {{ faultCreatedSuccessfully}}
        </div>
        <div class='fault-intsructions'>
            {{ faultFollowInstructions }}
        </div>
        <div class='fault-link'>
            <a href={{ faultLink }} style='color: white;'>
                {{ faultId }}
            </a>
        </div>
        <div class='details-container'>
            <div class='detail-container'>
                <div class='detail-label'>
                    {{ systemLabel }}
                </div>
                <div class='detail-desc'>
                    {{ systemData }}
                </div>
            </div>
            <div class='detail-container'>
                <div class='detail-label'>
                    {{ titleLabel }}
                </div>
                <div class='detail-desc'>
                    {{ titleData }}
                </div>
            </div>
            <div class='detail-container'>
                <div class='detail-label'>
                    {{ descriptionLabel }}
                </div>
                <div class='detail-desc'>
                    {{ descriptionData }}
                </div>
            </div>
        </div>
    </div>
</body>

</html>